<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link href="/static/style.css" th:href="@{/static/style}" rel="stylesheet" />

<style>
    .button:active {

        background-color: #3e8e41;

        box-shadow: 0 5px #666;

        transform: translateY(4px);

    }

</style>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1>BOARD</h1>

<form action="/postList" method="get">
    <div class="w100" style="padding-right:10px">
        <select class="form-control form-control-sm" name="searchType" id="searchType">
            <option value="title">제목</option>
            <option value="content">본문</option>
            <option value="writer">작성자</option>
        </select>
    </div>
    <input type="text" name="keyword">
    <input type="submit" value="검색">
    <input type="hidden" name="num" th:value="1">
</form>

<table>
    <thead>
    <tr>
        <th class="one wide">번호</th>
        <th class="ten wide">글제목</th>
        <th class="two wide">작성자</th>
        <th class="two wide">작성자아이디</th>
        <th class="three wide">작성일</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="post : ${postDTOList}">
        <td>
            <span th:text="${post.id}"></span>
        </td>
        <form>
            <td><a th:href="@{/posts/{postId} (postId=${post.id},num=${select},searchType=${page.searchType},keyword=${page.keyword}) }">
                <span th:text="${post.title}"></span></a>
            </td>
        </form>
        <td>
            <span th:text="${post.writer}"></span>
        </td>
        <td>
            <span th:text="${post.user_id}"></span>
        </td>
        <td>
            <span th:text="${post.date}"></span>
        </td>
    </tr>
    </tbody>
</table>
<form action="/writepost" method="get">
    <input type="submit" value="게시물 작성">
</form>

<th:block th:if="${page.prev} == true">
    <form th:action="@{/postList?num={num} (num=(${page.startPageNum}-1)}">
        <button th:text="prev" style="float:left;" ></button>
        <input type="hidden" name="num"  th:value="(${page.startPageNum}-1)">
        <input type="hidden" name="keyword"  th:value="${page.keyword}">
        <input type="hidden" name="searchType"  th:value="${page.searchType}">
    </form>
</th:block>


<th:block th:each="cur: ${#numbers.sequence(page.startPageNum,page.endPageNum)}">
    <div th:if="${select != cur}">
        <form th:action="@{/postList?num={num} }">
            <button  th:text="${cur}"  style="float:left;" ></button>
            <input type="hidden" name="num"  th:value="${cur}">
            <input type="hidden" name="keyword"  th:value="${page.keyword}">
            <input type="hidden" name="searchType"  th:value="${page.searchType}">
            <!--            (keyword=${page.keyword},searchType=${page.searchType},num=${cur})-->
        </form>
    </div>

    <div th:if="${select == cur}">
        <form th:action="@{/postList?num={num} (num=${cur})}">
            <button th:text="${cur}" style="float:left;" ></button>
            <input type="hidden" name="num"  th:value="${cur}">
            <input type="hidden" name="keyword"  th:value="${page.keyword}">
            <input type="hidden" name="searchType"  th:value="${page.searchType}">
        </form>
    </div>
</th:block >

<th:block th:if="${page.next} == true">
    <form th:action="@{/postList?num={num} (num=(${page.endPageNum}+1)}">
        <button th:text="next" style="float:left;" ></button>
        <input type="hidden" name="num"  th:value="(${page.endPageNum}+1)">
        <input type="hidden" name="keyword"  th:value="${page.keyword}">
        <input type="hidden" name="searchType"  th:value="${page.searchType}">
    </form>
</th:block>
</body>
</html>
<!--되는거-->
<!--<th:block th:each="page : ${page}">-->
<!--    <th:block th:each="cur: ${#numbers.sequence(1,page.pageNum)}">-->
<!--    <form th:action="@{/postList?num={num} (num=${cur})}">-->
<!--        <button th:text="${cur}" style="float:left;" ></button>-->
<!--        <input type="hidden" name="num" id="num" th:value="${cur}">-->
<!--    </form>-->
<!--    </th:block>-->
<!--</th:block>-->
