<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>POST DETAIL</h1>
<p><textarea name="title" cols="85" rows="1" th:text="${postDetail.title}" readonly>      </textarea></p>
<p><textarea name="writer" cols="85" rows="1" th:text="${postDetail.writer}" readonly>   </textarea></p>
<p><textarea name="content" cols="85" rows="10" th:text="${postDetail.content}" readonly>   </textarea></p>

<input name="id"  th:value="${postId}" style="display:none">


<!--(postId=${post.id})   (user_id=${post.user_id}) form안에 데이터넣기 -->
<form action=/checkWriter  method="get">
    <input type="submit" value="수정하기" >
    <input type="hidden" name="postId" th:value="${postDetail.id}">
    <input type="hidden" name="user_id" th:value="${postDetail.user_id}">
</form>
<form th:action="@{/posts/{id}(id=${postDetail.id})}" method="post" >
    <input type="hidden" name="_method" value="DELETE">
    <input name="deletePassword" type="text" placeholder="삭제 비밀번호 4자리" >
    <input type="submit" value="삭제하기" >
    <input type="hidden" name="postId" th:value="${postDetail.id}">
</form>
<form action="/postList">
    <input type="submit" value="돌아가기">
</form>

<!--
<br>
<br>
<br>
<form action="seeDetailContent">
    <p1>댓글창</p1>
    <p><textarea name="commentpaper" cols="85" rows="3" placeholder="댓글을 입력해주세요"></textarea></p>
    <a th:href="@{/seeContent (contentId=${contentdetail.id}) }">
        <span>완료</span>
    </a>
</form> --->