<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>게시글 보기</h1>
<h1>see the content detail ! </h1>
<p><textarea name="title" cols="85" rows="1" th:text="${postDetail.title}" readonly>      </textarea></p>
<p><textarea name="content" cols="85" rows="10" th:text="${postDetail.content}" readonly>   </textarea></p>

<input name="id"  th:value="${postId}" style="display:none">

<form action="/showBoard">
    <input type="submit" value="돌아가기">
</form>

<!--
<br>
<br>
<br>
<form action="seeDetailContent">
    <p1>댓글창</p1>
    <p><textarea name="commentpaper" cols="85" rows="3" placeholder="댓글을 입력해주세요"></textarea></p>
    <a th:href="@{/seeContent (contentId=${contentdetail.id}) }">
        <span>완료</span>
    </a>
</form> --->>>