<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>UPDATE POST</h1>

<form action="/updatePost" method="post">
    <p><textarea name="title" cols="50" rows="1" th:text="${postDetail.title}">  </textarea></p>
    <p><textarea name="content" cols="50" rows="10" th:text="${postDetail.content}">   </textarea></p>
    <input name="id"  th:value="${postId}" style="display:none">
    <input type="submit" value="완료">
</form>

</body>
</html>