<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/checkUser" method="post">

    <p1>아이디를 입력하세요</p1>
    <input type="text" name="name"><br>
    <p1>비밀번호를 입력하세요</p1>
    <input type="text" name="password">
    <input type="submit" value="확인">
</form>

<form action="/signup" method="get">
    <input type="submit" value="회원가입">
</form>

</body>
<!--<script>
    var data = "${result}";
    console.log(data);
</script>-->
</html>