<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.TestMapper">

    <!-- 게시물 총 갯수 -->
    <select id="count" resultType="int">
 select count(id) from post where deleteYn='N'
</select>

    <select id="listPage" parameterType="hashMap" resultType="PostDTO">
        SELECT
            id, title,content, delete_password,date, writer,user_id
        FROM
           post
        WHERE
            deleteYn='N'
         ORDER BY id DESC LIMIT #{displayPost}, #{postNum}
         </select>

<!--    <select id="selectBoardList" resultType="hashmap" parameterType="hashmap">-->
<!--    <![CDATA[-->
<!--        SELECT-->
<!--            *-->
<!--        FROM-->
<!--            board-->
<!--        WHERE-->
<!--            DEL_CHK = 'N'-->
<!--        ORDER BY IDX DESC-->
<!--        LIMIT #{pageStart}, #{perPageNum}-->
<!--    ]]>-->

<!--</select>-->
<!--    <select id="countBoardList" resultType="Integer">-->
<!--    <![CDATA[-->
<!--        SELECT-->
<!--            count(*)-->
<!--        FROM-->
<!--            board-->
<!--        WHERE-->
<!--            DEL_CHK='N'-->
<!--    ]]>-->
<!--</select>-->


    <select id="checkUserInfo" parameterType="UserDTO" resultType="UserDTO">
        SELECT * FROM user
        WHERE name=(#{name}) and password=(#{password})
    </select>

    <select id="checkUser" parameterType="UserDTO" resultType="int">
        SELECT COUNT(*) FROM user
        WHERE name=(#{name}) and password=(#{password})
    </select>

    <insert id="insertUser" parameterType="UserDTO">
        INSERT INTO user (name,password) VALUES (#{name}, #{password})
    </insert>

    <insert id="insertContent" parameterType="PostDTO">
        INSERT INTO post (title, content,delete_password, writer,user_id) VALUES (#{title},#{content},#{delete_password},#{writer},#{user_id})
    </insert>

    <select id="getPost" resultType="PostDTO">
        SELECT
            id, title,content, delete_password,date, writer,user_id
        FROM
            post
        WHERE deleteYn ='N'
     </select>

    <select id="getPostCnt" resultType="int">
		SELECT
		    count(*) as listCnt
		FROM
			post
	</select>

    <select id="viewPostDetail" parameterType="PostDTO" resultType="PostDTO">
        SELECT
            id ,title, content, delete_password,writer,user_id,deleteYn
        FROM
            post
        WHERE
            id = (#{id})
    </select>

    <select id="checkWriter" parameterType="PostDTO" resultType="PostDTO">
        SELECT * FROM post WHERE name=(#{name}) and password=(#{password})
    </select>

    <update id="updatePost" parameterType="PostDTO">
        UPDATE post SET title = (#{title}), content = (#{content}) WHERE id=(#{id})
    </update>

    <update id="deletePost" parameterType="int">
        UPDATE post SET deleteYn = 'Y' WHERE id=(#{id})
    </update>

    <select id="getPostById" parameterType="int" resultType="PostDTO">
        SELECT id ,title, content, delete_password,writer,user_id,deleteYn FROM post  WHERE id = (#{id})
    </select>

    <select id="searchByKeyword" parameterType="SearchDTO" resultType="PostDTO">
        SELECT * FROM post
        WHERE deleteYn ='N'
        <if test="searchType.equals('title')">
        and title LIKE CONCAT('%',#{keyword},'%')
        </if>
        <if test="searchType.equals('content')">
            and content LIKE CONCAT('%',#{keyword},'%')
        </if>
        <if test="searchType.equals('writer')">
            and writer LIKE CONCAT('%',#{keyword},'%')
        </if>
    </select>
</mapper>