<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.TestMapper">

    <select id="checkUserInfo" parameterType="com.example.demo.Dto.UserDTO" resultType="com.example.demo.Dto.UserDTO">
        select * from user where name=(#{name}) and password=(#{password})
    </select>

    <insert id="insertUserList" parameterType="com.example.demo.Dto.UserDTO">
        insert into user (name,password) values (#{name}, #{password})
    </insert>

    <insert id="insertContent" parameterType="com.example.demo.Dto.PostDTO">
        insert into post (title, content,delete_password, writer,user_id) value (#{title},#{content},#{delete_password},#{writer},#{user_id})
    </insert>

    <select id="getAllContent" resultType="com.example.demo.Dto.PostDTO">
        SELECT id, title, content, date FROM post
     </select>

    <select id="getPost" resultType="com.example.demo.Dto.PostDTO">
        SELECT id, title,content, delete_password,date, writer,user_id FROM post
     </select>

    <select id="viewPostDetail" resultType="com.example.demo.Dto.PostDTO" parameterType="com.example.demo.Dto.PostDTO">
        SELECT title, content, delete_password,writer FROM post  WHERE id = (#{id})
    </select>

    <select id="checkWriter" parameterType="com.example.demo.Dto.PostDTO" resultType="com.example.demo.Dto.PostDTO">
        select * from post where name=(#{name}) and password=(#{password})
    </select>

</mapper>